@{
    ViewData["Title"] = "Save";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination

@model Clinicss.Models.ClinicVm


<partial name="_AlertMessage" />

<div class="container-fluid d-flex align-items-center justify-content-center h-100">
    <div class="container mt-5 glass-container col-md-7">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1>Mange Clinic</h1>

                <form asp-action="Save" method="post">
                    @Html.AntiForgeryToken()

                    <div class="form-row">
 
                        <div class="form-group glass-input col-md-6">
                            <label asp-for="clinicName">Clinic Name:</label>
                            <input asp-for="clinicName" class="form-control" />
                            <span asp-validation-for="clinicName" class="text-danger"></span>
                        </div>

                        <div class="form-group glass-input col-md-6">
                            <label asp-for="location">Location:</label>
                            <input asp-for="location" class="form-control" />
                            <span asp-validation-for="location" class="text-danger"></span>
                        </div>

                        <div class="form-group glass-input col-md-6">
                            <label asp-for="numberOfDoctors">Number of Doctors:</label>
                            <input asp-for="numberOfDoctors" class="form-control" />
                            <span asp-validation-for="numberOfDoctors" class="text-danger"></span>
                        </div>

                        <div class="form-group glass-input col-md-6">
                            <label asp-for="isOpen">Is Open:</label>
                            <input asp-for="isOpen" type="checkbox" class="form-check-input" />
                            <span asp-validation-for="isOpen" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn btn-primary">
                         
                                <text>Add New</text>

                         
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <link href="~/css/site.css" rel="stylesheet" />


}
