body {
    background-color: #e6ffe6; /* Light green background */
}

.glass-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.glass-input {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 2px solid #00cc99;
    padding: 10px;
    margin-bottom: 20px;
}
.button-group {
    text-align: center;
}

/* Additional styling for checkbox input */
.form-check-input {
    margin-top: 7px;
}

.select2-container {
    width: 100% !important;
    margin-bottom: 20px !important;
}

.select2-container--default .select2-selection--single {
    border: none !important;
    border-bottom: 2px solid #00cc99 !important;
    border-radius:  0  !important;
}