@model PagedList.IPagedList<Clinicss.Models.DoctorVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Doctors";
}
<h1>Created</h1>
<style>
    .center {
        text-align: center;
    }
</style>

<div class="center">
    <h1>Created</h1>
</div>
