@{
    ViewData["Title"] = "Save";
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Cloudscribe.Web.Pagination

@model Clinicss.Models.DoctorSHiftsVm

<partial name="_AlertMessage" />

<div class="container-fluid d-flex align-items-center justify-content-center h-100">
    <div class="container mt-5 glass-container col-md-7">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1>Manage Shifts</h1>

                <form id="saveDoctorForm" asp-action="Save" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    @Html.AntiForgeryToken()
                     
                    <input asp-for="DoctorId"  type="hidden" class="glass-input form-control" readonly />
                     
                         <div class="form-group col-md-5">
                        <label asp-for="DoctorName">Doctor Name:</label>
                            <input asp-for="DoctorName" class="glass-input  " readonly />
                            <span asp-validation-for="DoctorName" class="text-danger"></span>
                        </div>

                       
                        <div class="form-group col-md-5">
                            <label asp-for="SHiftsId">Chosee Shift:</label>
                            <select asp-for="SHiftsId" class="glass-select " asp-items="@Model.ALLShifts">
                                <option value="">Select clinic</option>
                            </select>
                            <span asp-validation-for="SHiftsId" class="text-danger"></span>
                        </div>
 
                    <div class="button-group">
                        <button type="submit" class="btn btn-primary mt-4">
                            @if (Model != null || Model.Id == default)
                            {
                                <text>Add New</text>

                            }
                            else
                            {
                                <text>Edit</text>

                            }
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 